@charset "UTF-8";
/*couleurs*/
/*modal & lightboxes*/
/*breakpoint*/
/*CONTENT STYLES*/
/*IMAGES STYLE*/
body {
  width: 100%;
  max-width: 1300px;
  min-width: 495px;
  margin: auto;
  background-color: white;
  font-family: "DM Sans", Arial, Verdana, sans-serif;
  padding: 5px;
}

a {
  text-decoration: none;
  color: black;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  padding: 25px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media screen and (max-width: 1199px) {
  main {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}
@media screen and (max-width: 820px) {
  main {
    padding-top: 0px;
  }
}

h1 {
  font-weight: lighter;
}

/*tags*/
.tagportrait, .art, .fashion, .architecture,
.travel, .sports, .animals, .events, .allTags {
  font-weight: bolder;
  color: #901C1C;
  margin-left: 5px;
  padding: 3px;
  padding-right: 5px;
  font-size: 80%;
  border: 1px solid lightgrey;
  border-radius: 25px;
  cursor: pointer;
}
.tagportrait:hover, .tagportrait:active, .art:hover, .art:active, .fashion:hover, .fashion:active, .architecture:hover, .architecture:active,
.travel:hover,
.travel:active, .sports:hover, .sports:active, .animals:hover, .animals:active, .events:hover, .events:active, .allTags:hover, .allTags:active {
  color: white;
  background-color: #901C1C;
  border: 1px solid #901C1C;
}

/*boutons*/
.button-type {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-align: center;
  -ms-flex-line-pack: center;
  align-content: center;
  padding: 0px;
  margin-top: 12px;
  background-color: #901C1C;
  border-radius: 5px;
  color: white;
  border: none;
  font-size: 100%;
  height: 55px;
  width: 50px;
}
.button-type:hover, .button-type:focus {
  background-color: #D3573C;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

/*icon coeur*/
.icon-heart {
  font-size: 120%;
  -webkit-transform: scale(0.9, 1.1);
  -ms-transform: scale(0.9, 1.1);
  transform: scale(0.9, 1.1);
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-align: center;
  -ms-flex-line-pack: center;
  align-content: center;
  color: #901C1C;
}

/*bouton fermeture modal*/
.close {
  position: absolute;
  right: 5px;
  top: 15px;
  width: 60px;
  height: 60px;
  opacity: 1;
  cursor: pointer;
  padding: 3px;
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}
.close:before, .close:after {
  position: absolute;
  left: 30px;
  content: " ";
  height: 60px;
  width: 7px;
  background-color: #fff;
}
.close:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
@media screen and (max-width: 820px) {
  .close {
    right: 15px;
  }
  .close:before, .close:after {
    height: 40px;
    width: 5px;
  }
}

/*HEADER*/
header {
  width: 99%;
  padding: 1px;
  margin: auto;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-align: center;
  -ms-flex-line-pack: center;
  align-content: center;
  margin-bottom: 20px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
header:hover #content, header:active #content {
  visibility: visible;
}
header #content {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
header #content p {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  width: 150px;
  border-radius: 5px;
  background-color: #D3573C;
  margin: 0px;
  padding: 3px;
  text-align: center;
  margin-bottom: -20px;
}
header #content p:hover, header #content p:active {
  color: white;
  background-color: #901C1C;
}
header #sub-header {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: auto;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-align: center;
  -ms-flex-line-pack: center;
  align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media screen and (max-width: 1199px) {
  header #sub-header {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}
@media screen and (max-width: 1199px) {
  header #sub-header {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
header #sub-header #logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
@media screen and (max-width: 820px) {
  header #sub-header #logo {
    width: 40%;
    min-width: 235px;
    min-height: 46.5px;
  }
}
header #sub-header #logo img {
  position: absolute;
  width: 75%;
  height: auto;
}
header #sub-header nav {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-align: center;
  -ms-flex-line-pack: center;
  align-content: center;
}
@media screen and (max-width: 1199px) {
  header #sub-header nav {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    text-align: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }
}
@media screen and (max-width: 820px) {
  header #sub-header nav {
    width: 100%;
    margin: 5px 50px 5px 50px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    text-align: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  header #sub-header nav .tagportrait, header #sub-header nav .art, header #sub-header nav .fashion, header #sub-header nav .architecture,
header #sub-header nav .travel, header #sub-header nav .sports, header #sub-header nav .animals, header #sub-header nav .events {
    margin: 5px 8px 5px 8px;
  }
}
header #sub-header #Our-Photographers {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  color: #901C1C;
}
@media screen and (max-width: 1199px) {
  header #sub-header #Our-Photographers {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media screen and (max-width: 820px) {
  header #sub-header #Our-Photographers {
    width: 40%;
    font-size: 130%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    text-align: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }
}

/*informations sur les photographes*/
.photographers {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  margin: 20px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-align: center;
  -ms-flex-line-pack: center;
  align-content: center;
  width: 30%;
}
.photographers .name {
  margin: 0px;
  margin-top: 20px;
  color: #D3573C;
  font-size: 240%;
}
.photographers p {
  margin: 0px;
  margin-top: 2px;
}
.photographers .city, .photographers .country {
  margin: 0px;
  margin-bottom: 3px;
  color: #901C1C;
  font-weight: 600;
}
.photographers .tagline {
  font-weight: 550;
}

/*logo*/
#logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
  min-width: 315px;
  min-height: 62px;
  padding: 10px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-align: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/*photographes*/
.photographers .ID {
  cursor: pointer;
}
.photographers .ID:hover .portrait {
  -webkit-box-shadow: 1px 1px 8px #525252;
  box-shadow: 1px 1px 8px #525252;
}

/*Général*/
p {
  margin: 0px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-align: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

#logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
  min-width: 235px;
  min-height: 46.5px;
  padding: 10px 10px 10px 0px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  padding: 0px;
}

.removable {
  display: none;
}

/*informations sur le photographe: photographer page*/
.photographers {
  margin: -10px 0px 0px 0px;
  width: 100%;
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.photographers #left-p-header {
  padding: 35px 25px 25px 50px;
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.photographers #left-p-header .p-infos {
  padding-left: 5px;
  text-align: left;
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
.photographers #left-p-header .p-infos .name {
  margin: 0;
  font-size: 350%;
}
@media screen and (max-width: 1199px) {
  .photographers #left-p-header .p-infos .name {
    font-size: 280%;
  }
}
@media screen and (max-width: 820px) {
  .photographers #left-p-header .p-infos .name {
    font-size: 215%;
  }
}
.photographers #left-p-header .p-infos .city, .photographers #left-p-header .p-infos .country {
  font-size: 140%;
  margin-bottom: 10px;
}
.photographers #left-p-header .p-infos .tagdescription {
  font-size: 110%;
}
.photographers #left-p-header .p-infos .tags {
  font-size: 110%;
  margin-top: 20px;
  padding: 0px;
  margin-left: -10px;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
@media screen and (max-width: 508px) {
  .photographers #left-p-header .p-infos .tags {
    font-size: 100%;
  }
}
.photographers #left-p-header .p-infos p {
  text-align: left;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.photographers #left-p-header .p-contact {
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0.8;
  -ms-flex: 0.8;
  flex: 0.8;
  min-width: 140px;
  max-width: 140px;
}
@media screen and (max-width: 1199px) {
  .photographers #left-p-header .p-contact {
    margin-left: 15px;
  }
}
@media screen and (max-width: 820px) {
  .photographers #left-p-header .p-contact {
    max-width: unset;
    position: fixed;
    z-index: 99;
    top: 92%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: unset;
    margin: 0px;
    font-size: 150%;
    padding: 3px 15px 3px 15px;
  }
}
@media screen and (max-width: 1199px) {
  .photographers #left-p-header {
    padding: 25px;
  }
}
@media screen and (max-width: 820px) {
  .photographers #left-p-header {
    padding: 0px;
  }
}
.photographers .right-p-header {
  padding: 25px 35px 25px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
@media screen and (max-width: 1199px) {
  .photographers .right-p-header {
    padding: 0px 35px 25px 25px;
    min-width: 273px;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
@media screen and (max-width: 820px) {
  .photographers .right-p-header {
    min-width: unset;
    padding: 0px;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
@media screen and (max-width: 508px) {
  .photographers .right-p-header {
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.photographers .right-p-header .portrait {
  -ms-flex-item-align: end;
  align-self: flex-end;
  -o-object-fit: cover;
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
@media screen and (max-width: 820px) {
  .photographers .right-p-header .portrait {
    padding: 0px;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin: 10px 25px 10px 10px;
    height: 170px;
    width: 170px;
    min-width: 170px;
  }
}
@media screen and (max-width: 508px) {
  .photographers .right-p-header .portrait {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    text-align: center;
    -ms-flex-line-pack: center;
    align-content: center;
    margin: auto;
  }
}
@media screen and (max-width: 820px) {
  .photographers {
    background-color: white;
  }
}
@media screen and (max-width: 508px) {
  .photographers {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 40px;
    -ms-flex-line-pack: center;
    align-content: center;
    padding: 0;
  }
}

/*menu déroulant pour le tri*/
.sorting {
  padding: 5px 0px 5px 0px;
  margin: 30px 0px 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
@media screen and (max-width: 508px) {
  .sorting {
    display: none;
  }
}
.sorting label {
  font-weight: bold;
  margin-right: 20px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
.sorting #sort-by {
  padding-left: 10px;
  margin-top: 0px;
  height: 45px;
  width: 125px;
}

/*portfolio*/
.portfolio {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 15px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.portfolio .media {
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}
.portfolio .media .up-media {
  z-index: 1;
  position: relative;
  cursor: pointer;
  width: 360px;
  height: 324px;
  border-radius: 5px;
}
@media screen and (max-width: 820px) {
  .portfolio .media .up-media {
    width: 400px;
    height: 240px;
  }
}
@media screen and (max-width: 508px) {
  .portfolio .media .up-media {
    width: 485px;
    height: 297px;
  }
}
.portfolio .media .up-media .media-img, .portfolio .media .up-media .media-vid {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  z-index: 2;
}
.portfolio .media .up-media .play-icon {
  position: absolute;
  top: 35%;
  left: 35%;
  width: 30%;
  height: auto;
  z-index: 3;
  pointer-events: none;
}
.portfolio .media .up-media:hover {
  -webkit-box-shadow: 1px 1px 8px #525252;
  box-shadow: 1px 1px 8px #525252;
}
.portfolio .media .down-media {
  padding: 5px 0px 5px 0px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.portfolio .media .down-media .media-title {
  color: #901C1C;
  margin: 0px;
  font-size: 130%;
  font-weight: 600;
}
.portfolio .media .down-media .media-date, .portfolio .media .down-media .media-price {
  color: black;
  margin: 0px;
  margin-left: 5px;
  font-size: 70%;
}
.portfolio .media .down-media .media-date {
  color: lightgray;
}
.portfolio .media .down-media .likes {
  z-index: 2;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.portfolio .media .down-media .likes .number, .portfolio .media .down-media .likes .number-footer {
  color: #901C1C;
  font-weight: bold;
  pointer-events: none;
  font-size: 100;
  margin-left: 5px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-align: center;
  -ms-flex-line-pack: center;
  align-content: center;
}
.portfolio .media .down-media .likes .icon-heart {
  font-size: 95%;
  pointer-events: none;
}
.portfolio .media .down-media .likes:hover .icon-heart, .portfolio .media .down-media .likes:hover .number {
  color: #D3573C;
}
@media screen and (max-width: 820px) {
  .portfolio .media {
    margin: 0px 15px 0px 15px;
  }
}
@media screen and (max-width: 1199px) {
  .portfolio {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}
@media screen and (max-width: 820px) {
  .portfolio {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

/*footer*/
footer {
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-align: center;
  -ms-flex-line-pack: center;
  align-content: center;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0px;
  padding: 5px;
  border-radius: 5px;
  background-color: #D3573C;
  max-width: 360px;
  min-width: 360px;
  max-height: 60px;
  min-height: 60px;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-size: 140%;
  color: black;
  font-weight: bold;
}
footer .Gen-likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-align: center;
  -ms-flex-line-pack: center;
  align-content: center;
}
footer .Gen-likes .number, footer .Gen-likes .number-footer {
  margin-right: 10px;
}
footer .Gen-likes .icon-heart {
  color: black;
  font-size: 100%;
}
footer .Gen-likes .price {
  margin: 0px;
}
@media screen and (max-width: 820px) {
  footer {
    display: none;
  }
}

/*couleurs*/
/*modal & lightboxes*/
/*breakpoint*/
/*CONTENT STYLES*/
/*IMAGES STYLE*/
/*couleurs*/
/*modal & lightboxes*/
/*breakpoint*/

/*# sourceMappingURL=style.css.map */
