/*HEADER*/
header{
    width: 99%;
    padding:1px;
    margin: auto;
    @include self-text-align;
    margin-bottom: 20px;
    @include flex-wrap; 
    &:hover, &:active{#content{visibility: visible;}}
    #content{
      @include flex-wrap; 
      visibility: hidden;
      @include just-flex;
      @include justify-content-center;
      p{
        @include flex-wrap; 
        position: relative;
        z-index: 2;
        width: 150px;
        border-radius: 5px;
        background-color: $primary-color;
        margin: 0px;
        padding: 3px;
        text-align: center;
        margin-bottom: -20px;
        &:hover, &:active{
          color: white;
          background-color: $secondary-color;
        }
      } 
    }
    #sub-header{
        @include flex-wrap; 
        margin: auto;
        @include self-text-align;
        @include just-flex;
        @include justify-content-space-between;
        @include tablet-style{@include justify-content-space-around;}
        @include tablet-style{@include justify-content-space-between;}
        #logo{
          @include just-flex;
          @include mobile-style{
            width: 40%;
            min-width: 235px;
            min-height: 46.5px;
          }
        }
    }
}