/*HEADER*/
header{
    width: 99%;
    padding:1px;
    margin: auto;
    @include self-text-align;
    margin-bottom: 20px;
    @include flex-wrap; 
    &:hover, &:active{#content{visibility: visible;}}
    #content{
      @include flex-wrap; 
      visibility: hidden;
      @include just-flex;
      @include justify-content-center;
      p{
        @include flex-wrap; 
        position: relative;
        z-index: 2;
        width: 150px;
        border-radius: 5px;
        background-color: $primary-color;
        margin: 0px;
        padding: 3px;
        text-align: center;
        margin-bottom: -20px;
        &:hover, &:active{
          color: white;
          background-color: $secondary-color;
        }
      } 
    }
    #sub-header{
        @include flex-wrap; 
        margin: auto;
        @include self-text-align;
        @include just-flex;
        @include justify-content-space-between;
        @include tablet-style{@include justify-content-space-around;}
        @include tablet-style{@include justify-content-space-between;}
        #logo{
          @include just-flex;
          @include mobile-style{
            width: 40%;
            min-width: 235px;
            min-height: 46.5px;
          }
          img{
            position: absolute;
            width: 75%;
            height: auto;
          }
        }
        nav{
            z-index: 1;
            @include just-flex;
            @include justify-content-center;
            @include self-text-align;
            @include tablet-style{
              -webkit-box-ordinal-group: 2;
              -ms-flex-order: +1;
              order: +1;
              width: 100%;
              @include justify-content-center;
              @include self-text-align;
            }
            @include mobile-style{
                width: 100%;
                margin: 5px 50px 5px 50px;
                @include flex-wrap; 
                @include self-text-align;
                .tagportrait, .art, .fashion, .architecture,
                .travel, .sports, .animals, .events{margin: 5px 8px 5px 8px;}
            }
        }
        #Our-Photographers{
            @include flex-nowrap; 
            @include justify-content-center;
            @include just-flex;
            color: $secondary-color;
            @include tablet-style{@include justify-content-center;}
            @include mobile-style{
              width: 40%;
              font-size: 130%;
              @include flex-wrap; 
              @include self-text-align;
            }
        }
    }
}

/*informations sur les photographes*/
.photographers{
  @include justify-content-center;
  @include flex-column;
  margin: 20px;   
  @include self-text-align;
  width: 30%;
  .name{
    margin: 0px;
    margin-top: 20px;
    color: $primary-color;
    font-size: 240%;
  }
  p{
    margin: 0px;
    margin-top: 2px;
  }
  .city, .country{
    margin: 0px;
    margin-bottom: 3px;
    color: $secondary-color;
    font-weight: 600;
  }
  .tagline{
    font-weight: 550;
  }
  .price{
    margin-bottom: 10px;
    color: grey;
  }
  .ID{
    display: none;
    @include justify-content-center;
    @include flex-column;
    .portrait{
      @include portrait-style;
      @include self-text-align;    
    }
  }
  @include tablet-style{
    .tags{
      @include just-flex;
      @include flex-wrap; 
      @include justify-content-center;
      padding: 5px; 
      .tagportrait, .art, .fashion, .architecture,
      .travel, .sports, .animals, .events, .allTags{
        margin: 5px;
      }
    }
  }
  @include mobile-style{
    width: 100%;
  }
}