@media screen and (min-width: 950px){
    .box-info{
        position: fixed;
        display: flex;
        gap: 65px;
        bottom: 0;
        right: 35px;
        background-color: $salmon;
        border-radius: $borderRadius $borderRadius 0 0;
        padding: 20px 30px;
        font-size: 1.5rem;
        font-weight: 500;
    
        .nbrLike{
            margin-right: 15px;
        }
    }
}

@media screen and (max-width: 1024px){
    .box-info{
        position: fixed;
        display: flex;
        gap: 30px;
        bottom: 0px;
        right: 19px;
        background-color: $salmon;
        border-radius: 5px 5px 0 0;
        padding: 10px 15px;
        font-size: 14px;
        font-weight: 500;
    }
}