*{
    box-sizing: border-box !important;
}
  
html{
    scroll-behavior: smooth;
}
  
body{
    max-width: 1500px;
    margin: auto;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    position: relative;
}
  
main{
    margin: 0;
    padding: 0;
}

//enlève les traits des liens
a{
    color: black;
    text-decoration: none;
    :hover{
        color: black;
    }
    :visited{
        text-decoration: none;
    }
}


