@import "../utils/variables.scss";
/*bouton*/
.button {
    border: none;
    border-radius: 0.2rem;
    background-color: $background-burgundy;
    color: #ffffff;
    padding: 1rem 0.5rem;
  
    height: 3rem;
  
    font-weight: 400;
    font-size: 0.9em;
    line-height: 1em;
    align-items: center;
    text-align: center;
  
    cursor: pointer;
    :hover, :focus{
        background: $background-salmon;
        color: black;
    }
}