@import "../utils/variables.scss";
/*tag*/
.nav-photographer-categories ul li a,
.photographer-card-tags li a,
.banner-infos-tags li a {

    border: 0.03125rem solid #c4c4c4;
    border-radius: 0.6875rem;
    padding: 0.05rem 0.3rem;
    margin: 0.1rem;

    font-weight: 500;
    font-size: 0.8em;
    line-height: 1em;
    text-align: center;

    color: $text-burgundy;
}

.nav-photographer-categories ul li .selected-tag,
.photographer-card-tags li .selected-tag,
.banner-infos-tags li .selected-tag {
  background-color: $text-burgundy;
  color: white;
}