/*LOGO*/
#logo{
	@include just-flex;
	position: relative;
	min-width: 315px;
	min-height: 62px;
	padding: 10px;
	@include self-text-align;
	@include justify-content-center;
}

/*Photographers*/
.photographers{
	.ID{
		cursor: pointer;
		&:hover{
			.portrait{
				-webkit-box-shadow: 1px 1px 8px $tertiary-color;
				box-shadow: 1px 1px 8px $tertiary-color;
			}
		}
	}
}