/*Général*/
p{
    margin: 0px;
    @include self-text-align;
}

#logo{
    @include just-flex;
    position: relative;
    min-width: 235px;
    min-height: 46.5px;
    padding: 10px 10px 10px 00px;
    @include start-align;
}

main{
    @include flex-column;
    padding: 0px;
}

.removable{
    display: none;
}

/*informations sur le photographe: photographer page*/
.photographers{
    margin: -10px 0px 0px 0px;
    width: 100%;
    background-color: $tertiary-bg-color;
    @include just-flex;
    @include justify-content-space-between;
    @include flex-nowrap;
    #left-p-header{
        padding: 35px 25px 25px 50px;
        -webkit-box-flex:2;
        -ms-flex:2;
        flex:3;
        @include just-flex;
        .p-infos{
            padding-left: 5px;
            text-align: left;   
            -webkit-box-flex:2;   
            -ms-flex:2;   
            flex:2;
            .name{
                margin:0;
                font-size: 350%;
                @include tablet-style{font-size: 280%;}
                @include mobile-style{font-size: 215%;}
            }
            .city, .country{
                font-size: 140%;
                margin-bottom: 10px;
            }
            .tagdescription{
                font-size: 110%;
            }
            .tags{
                font-size: 110%;
                margin-top: 20px;
                padding: 0px;
                margin-left: -10px;
                @include flex-nowrap;
                @include start-align;
                @include truemobile-style{font-size: 100%;}
            }
            p{
                text-align: left;
                -ms-flex-item-align: start;
                align-self: flex-start;
            } 
        }
        .p-contact{
            -ms-flex-item-align: start;
            align-self: flex-start;
            -webkit-box-flex:0.8;
            -ms-flex:0.8;
            flex:0.8;
            min-width: 140px;
            max-width: 140px;
            @include tablet-style{
                margin-left: 15px;
            }    
            @include mobile-style{
              max-width: unset;
              position: fixed;
              z-index: 99;
              top: 92%;
              left: 50%;
              -webkit-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
              transform: translateX(-50%);
              width: unset;
              margin: 0px;
              font-size: 150%;
              padding: 3px 15px 3px 15px;
            }    
        }
        @include tablet-style{
            padding: 25px;
        } 
        @include mobile-style{
            padding: 0px;
        }   
    }
    .right-p-header{
        padding: 25px 35px 25px 25px;
        @include flex-row-end;
        -webkit-box-flex:2;
        -ms-flex:2;
        flex:2;
        @include tablet-style{
          padding: 0px 35px 25px 25px;
          min-width: 273px;
          @include flex-nowrap;
        }
        @include mobile-style{
            min-width: unset;
            padding: 0px;
            @include flex-nowrap;
        } 
        @include truemobile-style{
            padding: 0px;
            @include flex-row-centered;
            @include justify-content-center;
        }
        .portrait{
            -ms-flex-item-align: end;
            align-self: flex-end;
            @include portrait-style-page;
            @include mobile-style{
              padding: 0px;
              @include flex-nowrap;
              margin:10px 25px 10px 10px;
              height: 170px;
              width: 170px;
              min-width: 170px;     
            }
             @include truemobile-style{
              @include self-text-align;
              margin: auto;
            }
        }
    }
    @include mobile-style{
        background-color: white;
    }
    @include truemobile-style{
        @include justify-content-center;
        margin-bottom: 40px;
        -ms-flex-line-pack: center;
        align-content: center;
        padding: 0;
    }
}

/*menu déroulant pour le tri*/
.sorting{
    padding: 5px 0px 5px 0px;
    margin: 30px 0px 30px 0px;
    @include just-flex;
    @include truemobile-style{
        display: none;
    }
    label{
        font-weight: bold;
        margin-right: 20px;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }
    #sort-by{
        padding-left: 10px;
        margin-top: 0px;
        height: 45px;
        width: 125px;
    }
}

/*portfolio*/
.portfolio{
    @include flex-wrap;
    padding-top: 15px;
    margin-bottom: 50px;
    @include just-flex;
    @include justify-content-space-around;
    .media{
        margin: 15px;
        @include flex-column;
        .up-media{
            z-index: 1;
            position: relative;
            cursor: pointer;
            width: 360px;
            height: 324px;
            border-radius: 5px;  
            @include mobile-style{
             width: 400px;
             height: 240px;
            }
            @include truemobile-style{
            width: 485px;
            height: 297px;
            }
            .media-img, .media-vid{
                @include image-style;
                z-index: 2;
            }
            .play-icon{
                position: absolute;
                top: 35%;
                left: 35%;
                width: 30%;
                height: auto;
                z-index: 3;
                pointer-events: none;  
            }
        }
    }
}