/*Général*/
p{
    margin: 0px;
    @include self-text-align;
}

#logo{
    @include just-flex;
    position: relative;
    min-width: 235px;
    min-height: 46.5px;
    padding: 10px 10px 10px 00px;
    @include start-align;
}

main{
    @include flex-column;
    padding: 0px;
}

.removable{
    display: none;
}

/*informations sur le photographe: photographer page*/
.photographers{
    margin: -10px 0px 0px 0px;
    width: 100%;
    background-color: $tertiary-bg-color;
    @include just-flex;
    @include justify-content-space-between;
    @include flex-nowrap;
    #left-p-header{
        padding: 35px 25px 25px 50px;
        -webkit-box-flex:2;
        -ms-flex:2;
        flex:3;
        @include just-flex;
        .p-infos{
            padding-left: 5px;
            text-align: left;   
            -webkit-box-flex:2;   
            -ms-flex:2;   
            flex:2;
        }
    }
}