
//couleurs
$white: #FFF;
$black: #000;
$grey: #525252;
$almostwhite: #FAFAFA;
$burgundy: #901C1C;
$salmon: #DB8876;
$coral: #D3573C;


//taille&marge
$margeMobile: 20px;    // Left and right window margin for mobile
$margeDesktop: 100px;  // Left and right window margin for Desktop
 
$borderRadius: 5px;